/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */

/* Properties */
:root {
  --overlay-green: rgba(68, 159, 55, 0.75);
  --main-green: #64a659;
  --light: #ddd;
  --dark: #444;
  --text-color: #434343;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  line-height: 1.5;
}

h1 {
  margin: 0;
  color: var(--main-green);
  font-size: 1.5rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

p {
  margin: 0;
}

/* Header Stylings */
header {
  background: url("../images/info-sys-banner.png");
  background-position: center;
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  position: relative;
  z-index: 1;
}

.header-text {
  background: var(--overlay-green);
  width: 60%;
  text-align: center;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

header h1 {
  margin: 0;
  padding: 1rem;
  font-size: 3rem;
  color: #fff;
}

header h2 {
  margin: 0;
  padding: 1.3rem;
  font-size: 1.3rem;
  color: #fff;
}

/* Nav Stylings */
nav {
  display: grid;
  grid-gap: 1.25rem;
  padding: 1.2rem;
  grid-template-columns: repeat(4, 1fr);
  background: var(--light);
}

nav a {
  background: #fff;
  text-decoration: none;
  padding: 1.2rem;
  text-align: center;
  color: var(--main-green);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

nav a:hover {
  background: var(--main-green);
  color: #fff;
  transition: ease-in 0.5s;
}

/* Heading links for headings within a page */
.heading-links {
  display: flex;
  justify-content: center;
}

.heading-links a {
  padding: 1rem 2rem;
  margin: 1rem 0.75rem;
  color: var(--dark);
  background: #fff;
  box-shadow: var(--shadow);
  text-decoration: none;
  font-weight: bold;
}

.heading-links a:hover {
  background: var(--main-green);
  color: #fff;
  transition: ease-in 0.5s;
}

/* Overview Page Stylings */
.overview {
  padding: 1rem 4rem;
}

.overview h1,
.overview h2 {
  text-align: center;
}

.overview p {
  text-align: justify;
}

.overview h1,
.overview h2,
.overview p {
  margin: 0.5rem;
}

/* Testimonial Stylings */
.testimonials {
  width: 90%;
  position: relative;
  margin: auto;
}

.testimonials h1 {
  text-align: center;
  margin-bottom: 16px;
}

.testimonial-slide {
  display: none;
  width: 100%;
  min-height: 400px;
  margin-bottom: 16px;
  background: var(--light);
  box-shadow: var(--shadow);
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
}

.testimonials .photo {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

.testimonials .photo img {
  width: 100%;
  height: auto;
}

.testimonials .text {
  width: 90%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--dark);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--light);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
  text-align: center;
  margin-bottom: 16px;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Personas Stylings */
.personas {
  margin-bottom: 80px;
}

.personas h1 {
  text-align: center;
}

.personas-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.persona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-left: 32px;
  margin-right: 32px;
  border: 8px solid var(--light);
  border-radius: 32px;
}

.persona img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  display: block;
  margin: 0;
}

.persona-text {
  width: 100%;
  text-align: center;
  background: var(--light);
  padding: 16px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  margin: 0;
  text-decoration: underline;
  color: var(--dark);
}

.border {
  border: 8px solid var(--main-green);
  transition: ease-in 0.5s;
}

.border .persona-text {
  background: #fff;
  transition: ease-in 0.5s;
  color: var(--main-green);
}

/* Footer Stylings */
footer {
  background: var(--dark);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 15%;
  float: right;
}

footer p {
  color: #fff;
  font-size: 1rem;
}

/* FAQ Stylings */
.faqs {
  padding: 4rem 10rem;
  text-align: center;
}

.faqs h2,
.faqs p,
.faqs ol,
.faqs ul,
.faqs li {
  text-align: left;
}

.faqs img {
  height: 400px;
}

.faqs nav {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* Media Queries */
@media (max-width: 768px) {
  /* Header Stylings */
  header {
    padding: 0;
  }

  header .header-text {
    width: 60%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  header .header-text h1 {
    font-size: 2rem;
    padding: 0.5rem;
  }

  header .header-text h2 {
    font-size: 1rem;
    padding: 0.5rem;
  }

  /* Nav Stylings */
  nav {
    grid-gap: 1rem;
    padding: 1rem;
  }

  nav a {
    font-size: 1rem;
    padding: 0.8rem;
  }

  /* Overview Page Stylings */
  .overview {
    grid-template-areas:
      "top-box"
      "box-a"
      "box-b"
      "box-c"
      "bottom-box";
  }

  #overview-wrapper .box-a,
  #overview-wrapper .box-b,
  #overview-wrapper .box-c {
    border-left: 0;
    border-right: 0;
    border-top: solid var(--light) 1px;
  }

  /* Testimonial Stylings */
  .testimonial {
    grid-template-columns: auto;
    grid-template-areas:
      "photo"
      "test-text";
  }

  .testimonial .photo {
    grid-area: photo;
  }

  .testimonial div {
    grid-area: test-text;
  }

  footer {
    padding: 0.5rem 2rem;
  }

  footer p {
    margin: 0.5rem;
  }

  footer img {
    width: 25%;
  }
}

@media (max-width: 600px) {
  /* Header Stylings */
  header {
    max-height: 50vh;
  }

  header .header-text {
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  header .header-text h1 {
    font-size: 2rem;
    padding: 0.5rem;
  }

  header .header-text h2 {
    display: none;
  }

  /* Nav Stylings */
  nav {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  nav a {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
  }

  #overview-wrapper {
    padding: 1.5rem;
  }
  #overview-wrapper h2,
  #overview-wrapper h3 {
    font-size: 1.2em;
  }

  /* Testimonial Stylings */
  .testimonial {
    margin: 1rem;
    padding: 1rem;
  }

  .testimonial .photo {
    width: 150px;
    height: 150px;
  }

  .testimonial .photo img {
    height: 100%;
  }

  .testimonial h2 {
    text-align: center;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer img {
    width: 60%;
  }
}
